torch==1.13.1+cu116
torchvision==0.14.1+cu116
torchaudio==0.13.1
--extra-index-url https://download.pytorch.org/whl/cu116

transformers
datasets
sentence-transformers
langchain
llama-index
unstructured
beautifulsoup4
openai
jupyterlab
ipywidgets
matplotlib
seaborn
newspaper3k
selenium
aiohttp
pandas
numpy==1.26.4
scikit-learn
nltk
spacy
koNLPy
peft
trl
accelerate
wandb
scipy
tqdm
ipdb
debugpy
qdrant-client
pyarrow==14.0.1
chromadb
thinc<8.3.6
selenium
wget
chromadb
langchain_community
